@tailwind base;
@tailwind components;
@tailwind utilities;

.square {
  width: 100%;
  padding-bottom: 100%;
  background-color: teal;
  overflow: hidden;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;

}


.square h2 {
  position: absolute;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}


.empty {
  width: 100%;
  padding-bottom: 100%;
  background-color: white;
  overflow: hidden;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;

}

